body {
    margin: 0;
    background-color: #faf4f2;
}

.clear {
    clear: both;
}

.header {
    background-color: #f7e1db;
    padding: 10px 30px;
}

.header img {
    width: 50px;
}

.navbar {
    margin-top: 10px;
}

.navbar a{
    text-decoration: none;
    color: #000000;
    margin-right: 20px;
}

.navbar a:hover {
    color: #e77051;
}

.navbar .active {
    color:#e77051;
}

.carousel {
    background-image: url(../img/BG.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
}

.service {
    margin-top:-100px;
    z-index: 10;
}

.service .list .item {
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding: 0 15px;
}

.service .list .item .content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.service .list .item .content img {
    height: 70px;
}

.service .list .item .content h1 {
    font-size: 20px;
    font-weight: 700;
}

.activity .title {
    text-align: center;
    margin-top: 70px;
}

.activity .list .item {
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding: 15px;
}

.activity .list .item .content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.activity .list .item .content .thumbnail {
    position: relative;
}

.activity .list .item .content .thumbnail img {
    width: 100%;
    border-radius: 20px;
}

.activity .list .item .content .thumbnail i {
    position:absolute;
    top:20px;
    right:20px;
    z-index: 10;
    width:40px;
    height:40px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 40px;
    color: #e76f51;
}

.activity .list .item .content button {
    background-color: #8d8d8d;
    border-radius:200px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
}

.activity .all {
    text-align: center;
}

.activity .all button {
    color: #e76f51;
    border: 1px solid #e76f51;
    border-radius: 25px;
    padding: 13px 71px;
    margin-bottom: 20px;
    background-color: transparent;
    cursor: pointer;
}

.activity .all button:hover {
    background-color: #e76f51;
    color: white;
}

.contact {
    background-color: #f8e1db;
    border-radius: 20px;
    margin-bottom: 100px;
}

.contact .item {
    float: left;
    width: 50%;
}

.contact .left img {
    padding: 20px 60px;
}

.contact .left {
    background: url(../img/mask.png);
    background-size: cover;
    background-position:center;
    border-radius: 20px;
}

.contact .right {
    padding-top: 25px;
}

.contact .right .content {
    padding: auto auto;
}

.contact .right .app img {
    float: left;
    width: 45%;
}

.contact .right .app {
    float: left;
    width: 40%;
}

.contact .right .us {
    float: left;
    width: 40%;
}

.contact .right .us i{
    color: #e76f51;
    font-size: 25px;
    margin-right: 10px;
}

.footer {
    background-color: #f8e1db;
    border-radius:100px 100px 0 0;
    padding: 100px 30px;
    color: #3b3725;
    font-size: 17px;
}

.footer .content .left {
    float:left;
    width: 40%;
    line-height: 30px;
    /* padding: 0 20px; */
}

.footer .content .right {
    float: left;
    width: 60%;
    /* padding: 0 20px; */
}

.footer .content .right .item {
    float: left;
    width: 25%;
    margin-left: 35px;
}

.footer .content .right a, li {
    text-decoration: none;
    list-style: none;
    color: #3b3725;
}

.footer .content .right ul {
    padding-left: 0px;
}

.footer .content .right a {
    line-height: 30px;
}

.footer .bottom {
    
}

.footer .bottom p {
    text-align: center;
    position: relative;
}

.footer .bottom i {
    /* position:absolute; */
    /* width:40px;
    height:40px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 40px;
    color: #e76f51; */
    font-size: 15px;
    margin-right: 5px;
}


